ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 50px
}

li {
    margin:0;
    padding: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: futura;
}

li a:hover {
    color: #f67280;
}
h1 {
    font-faimly: futura;
    text-align: center;
    font-size: 200px
}
h2{
text-align: center;
  font-faimly: futura;
  font-size: 100px
}
h3{
  font-faimly: futura;
  text-align: center;
  font-size: 40px
}
gc{
position: static;
margin: 0;
padding: 0;
  margin-top: 100px;
}

.sign-up-form
{
  width: 300px;
  box-shadow:0 0 3px rgba (0,0,0,0.3);
  background: white;
  padding: 20 px;
  margin: 8% auto 0;
  text-align: center;
}
.sign-up-form h1{
  color: #1c8adb;
  margin-bottom: 30px;
}
.input-box{
  border-radius:20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
button{
color: #fff;
width: 100%;
padding: 10px;
border-radius: 20px;
font-size: 15px;
margin: 10px 0;
border: none;
outline: none;
cursor: pointer;
}
.signup-btn{
  background-color: #1c8adb;

}
.selfie-btn{
  background-color: #21afde;
}
a{
  text-decoration:none;
}
hr{
  margin-top: 20px;
  width: 80px%;
}
.or{
  background: #fff;
  width: 30px;
  margin: -19px auto 10px;
}
